@theme "/dev/null"

* {
  bg0:    #1C1A2ED9;
  bg1:    #453F63B3;
  bg2:    #2F2B4780;
  bg3:    #CF87E099;
  fg0:    #ECE6F2;
  fg1:    #F5F0FA;
  fg2:    #9A93B5;
  fg3:    #2F2B47;
}

@import "rounded-common.rasi"
