@theme "/dev/null"

* {
  bg0:    #282A36D9;
  bg1:    #44475AB3;
  bg2:    #44475A80;
  bg3:    #FF79C699;
  fg0:    #F8F8F2;
  fg1:    #F8F8F2;
  fg2:    #6272A4;
  fg3:    #44475A;
}

@import "rounded-common.rasi"
