* {
  border: none;
  border-radius: 0;
  font-family: "FiraMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #ece6f2;
}

window#waybar > box {
  background-color: #2f2b47;
  border-radius: 5px;
}

#custom-launcher {
  color: #7ebae4;
  padding: 0 8px 0 8px;
}

#workspaces button {
  padding: 0 12px;
  color: #ffffff;
  background: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  color: #cf87e0;
}

#workspaces button.urgent {
  color: #dd5c7a;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#backlight,
#pulseaudio,
#network,
#battery {
  padding: 0 8px;
  font-size: 15px;
}

#clock {
  padding: 0 12px 0 8px;
}

#battery.charging {
  color: #8fc9ae;
}

#battery.critical:not(.charging) {
  color: #dd5c7a;
}
