* {
  border: none;
  border-radius: 0;
  font-family: "FiraMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #F8F8F2;
}

window#waybar > box {
  background-color: #282A36;
  border-radius: 5px;
}

#custom-launcher {
  color: #8BE9FD;
  padding: 0 8px 0 8px;
}

#workspaces button {
  padding: 0 12px;
  color: #ffffff;
  background: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  color: #FF79C6;
}

#workspaces button.urgent {
  color: #FF5555;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#backlight,
#pulseaudio,
#network,
#battery {
  padding: 0 8px;
  font-size: 15px;
}

#clock {
  padding: 0 12px 0 8px;
}

#battery.charging {
  color: #50FA7B;
}

#battery.critical:not(.charging) {
  color: #FF5555;
}
